.col-auto
  %br
  %h2 Create Report (or <a href="/report/import">Import</a>)
  %br
  %form{ :method => "post" }
    - if @templates.size > 0
      .row.mb-1
        %label.col-5.v-align-center{ :for => "report_name" }
          Title &nbsp;
        %input.col-7.form-control#report_name{ :type => "text", :name => "report_name" }

      - if @languages
        .row.mb-1
          %label.col-5.v-align-center{ :for => "language" }
            Language &nbsp;
          %select.col-7.custom-select#language{ :name => "language" }
            - @languages.each do |lang|
              %option #{lang}

      .row.mb-1
        %label.col-5.v-align-center{ :for => "full_company_name" }
          Full Company Name &nbsp;
        %input.col-7.form-control#full_company_name{ :type => "text", :name => "full_company_name" }
      .row.mb-1
        %label.col-5.v-align-center{ :for => "short_company_name" }
          Short Company Name &nbsp;
        %input.col-7.form-control#short_company_name{ :type => "text", :name => "short_company_name" }
      .row.mb-1
        %label.col-5.v-align-center{ :for => "assessment_type" }
          Assessment Type &nbsp;
        %select.col-7.form-control.custom-select#assessment_type{ :name => "assessment_type" }
          - @assessment_types.each do |assessment_type|
            %option #{assessment_type}
      .row.mb-1
        %label.col-5.v-align-center{ :for => "report_type" }
          Report Type
        %select.col-7.form-control.custom-select#report_type{ :name => "report_type" }
          - @templates.each do |template|
            - if template.finding_template == false and template.status_template == false
              - if @report and template.report_type == @report.report_type
                %option{ :selected => "selected" } #{type}
              - else
                %option #{template.report_type}

      %br
      %input.btn.btn-primary{ :type => "submit", :value => "Save" }
      %a.btn.btn-secondary{ :href => "/",  :role => "button" }
        Cancel

    - else
      %h4
        Hrm, there don't seem to be any report templates. An admin will need to <a href="/admin/templates/add">add</a> one -_-
