.col-auto
  - if @message
    - if @message == "success"
      %br
      %h2 Password Successfully Changed
      %br
  - else
    %br
    %h2 Change Password
    %br

    %form{ :method => "post" }
      .row.mb-1
        %label.col-5.v-align-center{ :for => "old_pass" }
          Old Password &nbsp;
        %input.col-7.form-control#old_pass{ :type => "password", :name => "old_pass", :value=> "", :autocomplete => "off" }
      .row.mb-1
        %label.col-5.v-align-center{ :for => "new_pass" }
          New Password &nbsp;
        %input.col-7.form-control#new_pass{ :type => "password", :name => "new_pass", :value=> "", :autocomplete => "off" }
      .row.mb-1
        %label.col-5.v-align-center{ :for => "new_pass_confirm" }
          Confirm New Password &nbsp;
        %input.col-7.form-control#new_pass_confirm{ :type => "password", :name => "new_pass_confirm", :value => "", :autocomplete => "off" }

      %br
      %input.btn.btn-primary{ :type => "submit", :value => "Save" }
      %a.btn.btn-secondary{ :href => "/reports/list" }
        Cancel
