.col-auto
  %br
  %h2 Upload Attachment
  %h4 Note:
  %h6 &nbsp;&nbsp;&bullet;&nbsp;Only jpg and png are supported for screenshots
  %h6 &nbsp;&nbsp;&bullet;&nbsp;The file name is inherited from the file.
  %h6 &nbsp;&nbsp;&bullet;&nbsp;Multiple files can be uploaded at once.
  - if @no_file == "1"
    You forgot to include a file, silly
  %br

  %form{ :method => "post", :enctype => "multipart/form-data" }
    .row.mb-1
      %label.col-4.v-align-center{ :for => "files" }
        Upload Files &nbsp;
      %input.col-7#files{ :type => "file", :name => "files[]", :multiple => true }

    %br
    %input.btn.btn-primary{ :type => "submit", :value => "Upload" }
    %a.btn.btn-secondary{ :href => "/report/#{@report.id}/edit" }
      Cancel
